root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
disabled_rules = no-wildcard-imports,import-ordering

[*.{yml,yaml}]
indent_size = 2
